<%- include('partials/head', { title: 'Add Friends' }) %>
<h1 class="h3">Add Friends</h1>
<p class="text-muted">This is the Add Friends page.</p>
<a href="/profile">Profile</a>

<br>

<a href="/friends">My Friends</a>

<hr>

<% users.forEach(user => { %>

    <div>

        <h3><%= user.username %></h3>

        <p><%= user.firstName %> <%= user.lastName %></p>

        <form action="/addFriends" method="POST">

            <input type="hidden" name="friendUserID" value="<%= user.userID %>">

            <button type="submit">Add Friend</button>

        </form>

    </div>

    <hr>

<% }) %>
<%- include('partials/footer') %>
