<%- include('partials/head', { title: 'Search' }) %>
    <h1 class="h3">Search</h1>
    
    <form action="/search" method="POST">
        <label for="gameName">Search for a game:</label>
        <input type="text" id="gameName" name="gameName" required>

        <button type="submit">Search</button>
    </form>

    <hr>

    <% if (games && games.length> 0) { %>
        <h2>Search Results</h2>

        <% games.forEach(game=> { %>
            <div>
                <h3>
                    <%= game.name %>
                </h3>

                <% if (game.summary) { %>
                    <p><strong>Summary:</strong>
                        <%= game.summary %>
                    </p>
                    <% } %>

                        <% if (game.rating) { %>
                            <p><strong>Rating:</strong>
                                <%= Math.round(game.rating) %>
                            </p>
                            <% } %>

                                <form action="/addToWishlist" method="POST">
                                    <input type="hidden" name="gameID" value="<%= game.id %>">

                                    <input type="hidden" name="title" value="<%= game.name %>">

                                    <button type="submit">Add to Wishlist</button>
                                </form>

                                <hr>
            </div>
            <% }) %>

                <% } else { %>
                    <p>No games searched yet.</p>
                    <% } %>
                        <%- include('partials/footer') %>